name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and Test
        run: |
          rsync -av ./ /root/ros2_ws/src/todo_reminder/
          cd /root/ros2_ws
          bash -xv ./src/todo_reminder/test/test.bash /root

